# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TddSandbox.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Dawid\RiderProjects\tdd-sand-box\.idea\.idea.TddSandbox\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
