/.idea/.idea.tdd-sand-box.dir/.idea/.gitignore
/.idea/.idea.TddSandbox/.idea/.name
/Car/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Car.Tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Car/obj/Debug/net5.0/Car.AssemblyInfo.cs
/Car/obj/Debug/net5.0/Car.AssemblyInfoInputs.cache
/Car/obj/Debug/net5.0/Car.assets.cache
/Car/obj/Car.csproj.nuget.dgspec.json
/Car/obj/Car.csproj.nuget.g.props
/Car/obj/Car.csproj.nuget.g.targets
/Car/obj/Debug/net5.0/Car.csprojAssemblyReference.cache
/Car/obj/Debug/net5.0/Car.GeneratedMSBuildEditorConfig.editorconfig
/Car.Tests/obj/Debug/net5.0/Car.Tests.AssemblyInfo.cs
/Car.Tests/obj/Debug/net5.0/Car.Tests.AssemblyInfoInputs.cache
/Car.Tests/obj/Debug/net5.0/Car.Tests.assets.cache
/Car.Tests/obj/Car.Tests.csproj.nuget.dgspec.json
/Car.Tests/obj/Car.Tests.csproj.nuget.g.props
/Car.Tests/obj/Car.Tests.csproj.nuget.g.targets
/Car.Tests/obj/Debug/net5.0/Car.Tests.csprojAssemblyReference.cache
/Car.Tests/obj/Debug/net5.0/Car.Tests.GeneratedMSBuildEditorConfig.editorconfig
/.idea/.idea.tdd-sand-box.dir/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.tdd-sand-box.dir/.idea/encodings.xml
/.idea/.idea.TddSandbox/.idea/encodings.xml
/.idea/.idea.tdd-sand-box.dir/.idea/indexLayout.xml
/.idea/.idea.TddSandbox/.idea/indexLayout.xml
/Car/obj/project.assets.json
/Car.Tests/obj/project.assets.json
/Car/obj/project.nuget.cache
/Car.Tests/obj/project.nuget.cache
/Car/obj/project.packagespec.json
/Car.Tests/obj/project.packagespec.json
/Car/obj/rider.project.restore.info
/Car.Tests/obj/rider.project.restore.info
/.idea/.idea.tdd-sand-box.dir/.idea/riderModule.iml
/.idea/.idea.tdd-sand-box.dir/riderModule.iml
/.idea/.idea.TddSandbox/.idea/riderModule.iml
/.idea/.idea.tdd-sand-box.dir/.idea/vcs.xml
/.idea/.idea.TddSandbox/.idea/vcs.xml
